In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("Chennai houseing sale.csv")
df.head()

,PRT_ID,AREA,INT_SQFT,DATE_SALE,DIST_MAINROAD,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,...,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE
0,P03210,Karapakkam,1004,04-05-2011,131,1.0,1.0,3,AbNormal,Yes,...,AllPub,Paved,A,4.0,3.9,4.9,4.330,380000,144400,7600000
1,P09411,Anna Nagar,1986,19-12-2006,26,2.0,1.0,5,AbNormal,No,...,AllPub,Gravel,RH,4.9,4.2,2.5,3.765,760122,304049,21717770
2,P01812,Adyar,909,04-02-2012,70,1.0,1.0,3,AbNormal,Yes,...,ELO,Gravel,RL,4.1,3.8,2.2,3.090,421094,92114,13159200
3,P05346,Velachery,1855,13-03-2010,14,3.0,2.0,5,Family,No,...,NoSewr,Paved,I,4.7,3.9,3.6,4.010,356321,77042,9630290
4,P06210,Karapakkam,1226,05-10-2009,84,1.0,1.0,3,AbNormal,Yes,...,AllPub,Gravel,C,3.0,2.5,4.1,3.290,237000,74063,7406250

In [3]:
df['PARK_FACIL'].unique()

array(['Yes', 'No', 'Noo'], dtype=object)

In [4]:
park_facil_corrections = {
    'Noo': 'No'
}
df['PARK_FACIL'] = df['PARK_FACIL'].replace(park_facil_corrections)

In [5]:
df['PARK_FACIL'].unique()

array(['Yes', 'No'], dtype=object)

In [6]:
df['AREA'].unique()

array(['Karapakkam', 'Anna Nagar', 'Adyar', 'Velachery', 'Chrompet',
       'KK Nagar', 'TNagar', 'T Nagar', 'Chrompt', 'Chrmpet', 'Karapakam',
       'Ana Nagar', 'Chormpet', 'Adyr', 'Velchery', 'Ann Nagar',
       'KKNagar'], dtype=object)

In [7]:
area_corrections = {
    'Karapakam': 'Karapakkam',
    'Ana Nagar': 'Anna Nagar',
    'Ann Nagar': 'Anna Nagar',
    'Adyr': 'Adyar',
    'Chrmpet': 'Chrompet',
    'Chrompt': 'Chrompet',
    'Chormpet': 'Chrompet',
    'T Nagar': 'TNagar',
    'Velchery': 'Velachery',
    'KKNagar': 'KK Nagar'
}
df['AREA'] = df['AREA'].replace(area_corrections)

In [8]:
df['AREA'].unique()

array(['Karapakkam', 'Anna Nagar', 'Adyar', 'Velachery', 'Chrompet',
       'KK Nagar', 'TNagar'], dtype=object)

In [9]:
df['SALE_COND'].unique()

array(['AbNormal', 'Family', 'Partial', 'AdjLand', 'Normal Sale',
       'Ab Normal', 'Partiall', 'Adj Land', 'PartiaLl'], dtype=object)

In [10]:
sale_cond_corrections = {
    'Ab Normal': 'AbNormal',
    'Partiall': 'Partial',
    'PartiaLl': 'Partial',
    'Adj Land': 'AdjLand',
    'Normal Sale': 'Normal'
}
df['SALE_COND'] = df['SALE_COND'].replace(sale_cond_corrections)

In [11]:
df['SALE_COND'].unique()

array(['AbNormal', 'Family', 'Partial', 'AdjLand', 'Normal'], dtype=object)

In [12]:
df['BUILDTYPE'].unique()

array(['Commercial', 'Others', 'Other', 'House', 'Comercial'],
      dtype=object)

In [13]:
buildtype_corrections = {
    'Other': 'Others',
    'Comercial': 'Commercial'
}
df['BUILDTYPE'] = df['BUILDTYPE'].replace(buildtype_corrections)

In [14]:
street_corrections = {
    'Pavd': 'Paved',
    'No Access': 'NoAccess'
}
df['STREET'] = df['STREET'].replace(street_corrections)

In [15]:
df['STREET'].unique()

array(['Paved', 'Gravel', 'NoAccess'], dtype=object)

In [16]:
df.shape

(7109, 22)

In [17]:
df.columns

Index(['PRT_ID', 'AREA', 'INT_SQFT', 'DATE_SALE', 'DIST_MAINROAD', 'N_BEDROOM',
       'N_BATHROOM', 'N_ROOM', 'SALE_COND', 'PARK_FACIL', 'DATE_BUILD',
       'BUILDTYPE', 'UTILITY_AVAIL', 'STREET', 'MZZONE', 'QS_ROOMS',
       'QS_BATHROOM', 'QS_BEDROOM', 'QS_OVERALL', 'REG_FEE', 'COMMIS',
       'SALES_PRICE'],
      dtype='object')

In [18]:
corr = df[['N_ROOM', 'N_BEDROOM', 'N_BATHROOM']].corr()
print("Correlation Matrix:\n", corr)
if corr['N_ROOM'].max() > 0.9:
    print("Dropping N_ROOM due to high correlation")
    columns_to_drop = ['PRT_ID', 'REG_FEE', 'COMMIS', 'QS_OVERALL', 'DATE_SALE', 'N_ROOM','DIST_MAINROAD','UTILITY_AVAIL']
else:
    columns_to_drop = ['PRT_ID', 'REG_FEE', 'COMMIS', 'QS_OVERALL', 'DATE_SALE','DIST_MAINROAD','UTILITY_AVAIL']

Correlation Matrix:
               N_ROOM  N_BEDROOM  N_BATHROOM
N_ROOM      1.000000   0.840286    0.568688
N_BEDROOM   0.840286   1.000000    0.755214
N_BATHROOM  0.568688   0.755214    1.000000
Dropping N_ROOM due to high correlation

In [19]:
#Engineer features
df['SALE_YEAR'] = pd.to_datetime(df['DATE_SALE'], format='%d-%m-%Y', dayfirst=True).dt.year
df['BUILD_YEAR'] = pd.to_datetime(df['DATE_BUILD'], format='%d-%m-%Y', dayfirst=True).dt.year
df['PROPERTY_AGE'] = df['SALE_YEAR'] - df['BUILD_YEAR']
area_price = df.groupby('AREA')['SALES_PRICE'].mean().rank()
df['AREA_PRICE_LEVEL'] = df['AREA'].map(area_price)

In [20]:
#Cap outliers
numeric_cols = ['INT_SQFT', 'N_BEDROOM', 'N_BATHROOM', 'QS_ROOMS', 'QS_BATHROOM', 'QS_BEDROOM', 'PROPERTY_AGE', 'AREA_PRICE_LEVEL', 'SALES_PRICE']
for col in numeric_cols:
    p1, p99 = df[col].quantile([0.01, 0.99])
    df[col] = df[col].clip(p1, p99)

In [21]:
columns_to_drop.extend(['DATE_BUILD', 'SALE_YEAR', 'BUILD_YEAR'])
df = df.drop(columns=columns_to_drop)

In [22]:
print(df[['QS_ROOMS', 'QS_BATHROOM', 'QS_BEDROOM']].describe())

          QS_ROOMS  QS_BATHROOM   QS_BEDROOM
count  7109.000000  7109.000000  7109.000000
mean      3.517471     3.507244     3.485300
std       0.891972     0.897834     0.887266
min       2.000000     2.000000     2.000000
25%       2.700000     2.700000     2.700000
50%       3.500000     3.500000     3.500000
75%       4.300000     4.300000     4.300000
max       5.000000     5.000000     5.000000

In [23]:
print(df[['QS_ROOMS', 'QS_BATHROOM', 'QS_BEDROOM', 'INT_SQFT', 'PROPERTY_AGE']].corr())

              QS_ROOMS  QS_BATHROOM  QS_BEDROOM  INT_SQFT  PROPERTY_AGE
QS_ROOMS      1.000000     0.008828    0.007789  0.019816      0.019454
QS_BATHROOM   0.008828     1.000000   -0.011745 -0.008207      0.021889
QS_BEDROOM    0.007789    -0.011745    1.000000  0.008842     -0.017900
INT_SQFT      0.019816    -0.008207    0.008842  1.000000     -0.013513
PROPERTY_AGE  0.019454     0.021889   -0.017900 -0.013513      1.000000

In [24]:
import pickle

In [25]:
categorical_cols = ['AREA', 'SALE_COND', 'PARK_FACIL', 'BUILDTYPE', 'STREET', 'MZZONE']
encoders = {}

for col in categorical_cols:
    encoders[col] = LabelEncoder()
    df[col] = encoders[col].fit_transform(df[col])

with open('label_encoders.pickle', 'wb') as file:
    pickle.dump(encoders, file)

In [26]:
df.head()

,AREA,INT_SQFT,N_BEDROOM,N_BATHROOM,SALE_COND,PARK_FACIL,BUILDTYPE,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,SALES_PRICE,PROPERTY_AGE,AREA_PRICE_LEVEL
0,4,1004.0,1.0,1.0,0,1,0,2,0,4.0,3.9,4.9,7600000.0,44,1.0
1,1,1986.0,2.0,1.0,0,0,0,0,3,4.9,4.2,2.5,21717770.0,11,6.0
2,0,909.0,1.0,1.0,0,1,0,0,4,4.1,3.8,2.2,13159200.0,20,2.0
3,6,1855.0,3.0,2.0,2,0,2,2,2,4.7,3.9,3.6,9630290.0,22,4.0
4,4,1226.0,1.0,1.0,0,1,2,0,1,3.0,2.5,4.1,7406250.0,30,1.0

In [27]:
df.isnull().sum()

AREA                0
INT_SQFT            0
N_BEDROOM           1
N_BATHROOM          5
SALE_COND           0
PARK_FACIL          0
BUILDTYPE           0
STREET              0
MZZONE              0
QS_ROOMS            0
QS_BATHROOM         0
QS_BEDROOM          0
SALES_PRICE         0
PROPERTY_AGE        0
AREA_PRICE_LEVEL    0
dtype: int64

In [28]:
df = df.fillna(df.mean())
df.shape

(7109, 15)

In [29]:
# In model.ipynb, before splitting data
df['BEDROOM_SQFT_RATIO'] = df['N_BEDROOM'] / df['INT_SQFT']
df['BATHROOM_SQFT_RATIO'] = df['N_BATHROOM'] / df['INT_SQFT']
df['BEDROOM_SQFT_RATIO'] = df['BEDROOM_SQFT_RATIO'].clip(upper=1.0)
df['BATHROOM_SQFT_RATIO'] = df['BATHROOM_SQFT_RATIO'].clip(upper=1.0)

# Then proceed with dropping columns and splitting
X = df.drop('SALES_PRICE', axis=1)
y = np.log(df['SALES_PRICE'])  # Log transform

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
#Print remaining columns
print("Remaining Columns:", X.columns.tolist())

Remaining Columns: ['AREA', 'INT_SQFT', 'N_BEDROOM', 'N_BATHROOM', 'SALE_COND', 'PARK_FACIL', 'BUILDTYPE', 'STREET', 'MZZONE', 'QS_ROOMS', 'QS_BATHROOM', 'QS_BEDROOM', 'PROPERTY_AGE', 'AREA_PRICE_LEVEL', 'BEDROOM_SQFT_RATIO', 'BATHROOM_SQFT_RATIO']

In [32]:
df.to_csv('preprocessed_housing_data.csv', index=False)

In [33]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.8241117866876875

In [34]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.82676878, 0.8256904 , 0.83984747, 0.83660528, 0.82824595])

In [35]:

from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)
model.score(X_test,y_test)

0.9783327761448856

In [36]:
import pickle
with open('chennai_home_prices_model.pickle','wb') as f:
    pickle.dump(model,f)

In [ ]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))